div{
    background-color: rgb(0, 0, 255);
    border-radius: 5% ;
    box-shadow: 5px 5px 10px #CC000E ;
    padding: 10px;
}

h1{
    text-align: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
.menu{
    background-color: black;
}
.menu a{
    text-decoration: none;
    color: rgb(0, 238, 255);
    margin: 5px;
    padding: 10px;
    display: block;
}
.menu ul{
    list-style: none;
}
.menu li{
    position: relative;
}
.menu ul li a:hover{
    background-color: red;
}
.colombia {
    margin: 0;
    padding: 0;
    min-height: 100vh; 
    background: linear-gradient(45deg,red,yellow,rgb(6, 231, 220));
    background-size: 400% 400%;
    
    
    background-attachment: fixed; 
    
    animation: gradienteAnimacion 12s ease infinite;
}

@keyframes gradienteAnimacion {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}